RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?80-78-247-240.cloudvps.regruhosting.ru$
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/$1
RewriteRule ^(/)?$ public/index.php [L]
